@media (max-width:992px) {

    .menu {
        .mobile {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .menu {
        display: none;

        .mobile {
            display: block;
        }

        &.button {
            width: 80px;
            height: 20px;
        }
    }


}

@media(max-width:576px) {}