@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #FF3839;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: capitalize;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #000000;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}

header.nav.container {
  width: 1300px;
  margin: auto;
}

header {
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav .menu ul {
  margin-bottom: 0%;
}
nav .menu ul li {
  display: inline;
  margin-left: 15px;
}
nav .menu ul li a {
  text-decoration: none;
  color: white;
}
nav .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 150px;
  height: 48px;
  place-items: center;
}
nav .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section1 {
  background-color: rgb(32, 31, 31);
  background-image: url("../img/page1Backround.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
}
.section1 .content1 {
  width: 787px;
  height: 381px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section1 .content1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 p span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FF3839;
}
.section1 .content1 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 hr {
  border: 2px solid #FF3839;
  width: 563px;
}
.section1 .content1 .section1_btn {
  display: flex;
  gap: 20px;
}
.section1 .content1 .section1_btn .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section1 .content1 .section1_btn .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 .section1_btn .view_portfolio {
  background: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section1 .content1 .section1_btn .view_portfolio span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.container {
  width: 1200px;
  height: auto;
}

.section2 {
  display: flex;
}
.section2 .content2 {
  display: flex;
  gap: 40px;
  padding: 100px 0;
}
.section2 .content2 .text {
  display: grid;
}
.section2 .content2 .text .title {
  display: flex;
  align-items: center;
}
.section2 .content2 .text .title hr {
  border: 2px solid #b4b2b2;
  width: 143px;
  height: 0px;
}
.section2 .content2 .text .title p {
  color: #000000;
  margin-bottom: 0%;
  text-transform: capitalize;
}
.section2 .content2 .text .title p span {
  font-weight: 700;
  font-size: 16px;
}
.section2 .content2 .text p {
  color: #696969;
}
.section2 .content2 .text .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
}
.section2 .content2 .text .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section3 {
  background: #202020;
}
.section3 .content3 {
  padding: 130px 0;
  display: flex;
  gap: 40px;
}
.section3 .content3 .content3_text .text {
  display: grid;
}
.section3 .content3 .content3_text .text .title {
  display: flex;
  align-items: center;
}
.section3 .content3 .content3_text .text .title hr {
  border: 2px solid #ffffff;
  width: 143px;
  height: 0px;
}
.section3 .content3 .content3_text .text .title p {
  color: white;
  margin-bottom: 0%;
  text-transform: capitalize;
}
.section3 .content3 .content3_text .text .title p span {
  font-weight: 700;
  font-size: 16px;
}
.section3 .content3 .content3_text .text h1 {
  color: #ffffff;
  width: 443px;
  height: 120px;
}
.section3 .content3 .content3_text .text .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
}
.section3 .content3 .content3_text .text .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section3 .content3 .content3_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transform: translate(0, -100px);
}
.section3 .content3 .content3_cards .card {
  display: flex;
  flex-direction: column;
  width: 263px;
  height: 168px;
  top: 143px;
  background: #FFFFFF;
  border-radius: 5px;
}
.section3 .content3 .content3_cards .card .ellipse {
  width: 82px;
  height: 82px;
  transform: translate(90px, -40px);
}
.section3 .content3 .content3_cards .card .img {
  width: 45px;
  height: 45px;
  z-index: 2;
  transform: translate(108px, -103px);
}
.section3 .content3 .content3_cards .card h5 {
  text-align: center;
  transform: translate(0, -75px);
}
.section3 .content3 .content3_cards .card p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  transform: translate(0, -65px);
}

.section4 .content4 {
  display: grid;
  justify-items: center;
  padding: 100px 0;
}
.section4 .content4 .text {
  width: 457px;
  height: 170px;
  display: grid;
}
.section4 .content4 .text .title {
  display: flex;
  align-items: center;
}
.section4 .content4 .text .title hr {
  border: 2px solid #b9b9b9;
  width: 163px;
  height: 0px;
}
.section4 .content4 .text .title p {
  margin-bottom: 0%;
  color: #696969;
}
.section4 .content4 .text h1 {
  color: #000000;
  text-align: center;
}
.section4 .content4 .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.section4 .content4 .menu ul li {
  display: inline;
  margin-left: 15px;
}
.section4 .content4 .menu ul li :hover {
  background-color: #FF3839;
}
.section4 .content4 .menu ul li a {
  padding: 15px;
  background: #F2F2F2;
  border-radius: 5px;
  text-decoration: none;
}
.section4 .content4 .menu ul li a :hover {
  color: #FFFFFF;
}
.section4 .content4 .menu ul li a span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}
.section4 .content4 .img {
  display: flex;
  justify-content: center;
}
.section4 .content4 .img :nth-child(1),
.section4 .content4 .img :nth-child(3) {
  width: 374px;
  height: 439px;
}
.section4 .content4 .img :nth-child(2) {
  width: 374px;
  height: 513px;
}

.section5 {
  background-color: #202020;
}
.section5 .content5 {
  padding: 100px 0;
}
.section5 .content5 .header {
  display: flex;
  justify-content: space-between;
}
.section5 .content5 .header .text .title {
  display: flex;
  align-items: center;
}
.section5 .content5 .header .text .title hr {
  width: 143px;
  height: 0px;
  border: 2px solid #ffffff;
}
.section5 .content5 .header .text .title p {
  margin-bottom: 0%;
  color: #ffffff;
}
.section5 .content5 .header .text .title p span {
  font-weight: 700;
  font-size: 16px;
}
.section5 .content5 .header .text h1 {
  color: #FFFFFF;
  width: 528px;
}
.section5 .content5 .header .pages_link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.section5 .content5 .header .pages_link a {
  padding-left: 0.5em;
}
.section5 .content5 .header .pages_link a :active {
  font-size: xx-large;
}
.section5 .content5 .header .pages_link hr {
  width: 234px;
  height: 0px;
  border: 2px solid #ffffff;
}
.section5 .content5 .content5_cards {
  display: flex;
  justify-content: space-between;
}
.section5 .content5 .content5_cards .card {
  margin-top: 4em;
  display: grid;
  justify-content: center;
  width: 369.86px;
  height: 217.68px;
}
.section5 .content5 .content5_cards .card .ellipse {
  transform: translate(135px, -40px);
}
.section5 .content5 .content5_cards .card .img {
  transform: translate(173px, -95px);
}
.section5 .content5 .content5_cards .card h5 {
  text-align: center;
  transform: translate(0, -45px);
}
.section5 .content5 .content5_cards .card .stars {
  transform: translate(108px, -35px);
}
.section5 .content5 .content5_cards .card p {
  text-align: center;
  font-size: 11px;
  color: #696969;
  transform: translate(0, -15px);
  line-height: 155%;
}

#accordion label + input[type=radio] {
  display: none;
}

#accordion label + input[type=radio]:checked + .content {
  max-height: 400px;
}

#accordion input[type=radio]:checked + label {
  background-color: #FF3839;
}

.section6 .content6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.section6 .content6 .text {
  display: grid;
}
.section6 .content6 .text .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section6 .content6 .text .title hr {
  border: 2px solid #b9b9b9;
  width: 163px;
  height: 0px;
}
.section6 .content6 .text .title p {
  margin-bottom: 0%;
  color: #696969;
}
.section6 .content6 .text h1 {
  color: #202020;
  text-align: center;
  width: 453px;
}
.section6 .content6 #accordion {
  margin: 100px auto;
  width: auto;
}
.section6 .content6 #accordion li {
  width: 100%;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 30px;
}
.section6 .content6 #accordion li .content {
  padding: 0 10px;
  width: 887px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: #FFFFFF;
}
.section6 .content6 #accordion li .content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #696969;
}
.section6 .content6 #accordion li label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #131212;
  background: #F1F1F1;
}
.section6 .content6 #accordion li label span {
  transform: rotate(180deg);
  color: #202020;
  font-size: 22px;
}

.section7 {
  background: #F1F1F1;
}
.section7 .content7 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.section7 .content7 .text {
  display: flex;
  flex-direction: column;
  width: 550px;
  justify-content: space-between;
}
.section7 .content7 .text .title {
  display: flex;
  align-items: center;
}
.section7 .content7 .text .title hr {
  width: 143px;
  height: 0px;
  border: 2px solid #4b4b4b;
}
.section7 .content7 .text .title p {
  margin-bottom: 0%;
}
.section7 .content7 .text .title p span {
  font-size: 16px;
  line-height: 155%;
}
.section7 .content7 .text p {
  font-size: 16px;
  line-height: 155%;
  color: #696969;
}
.section7 .content7 .text input {
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  box-sizing: border-box;
  height: 60px;
  width: 533px;
  margin: 10px 0;
}
.section7 .content7 .text input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 15px;
}
.section7 .content7 .text input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 15px;
}
.section7 .content7 .text textarea {
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  margin: 10px 0;
}
.section7 .content7 .text textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 15px 0 0 15px;
}
.section7 .content7 .text textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 15px 0 0 15px;
}
.section7 .content7 .text button {
  background: #FF3839;
  border-radius: 5px;
  height: 48px;
  width: 181px;
  border: none;
  margin: 10px 0;
}
.section7 .content7 .text button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section7 .content7 .img img {
  width: 603px;
  height: 829px;
  padding-left: 20px;
}

footer {
  background: #202020;
}
footer .content_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}
footer .content_footer .foot1 {
  display: flex;
  flex-direction: column;
  width: 345px;
}
footer .content_footer .foot1 img {
  width: 227px;
  height: 53px;
  margin-bottom: 20px;
}
footer .content_footer .foot1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03;
  color: #F8F8F8;
}
footer .content_footer .foot1 .icons {
  display: flex;
  gap: 20px;
}
footer .content_footer .foot1 .icons a {
  width: 36px;
  height: 36.75px;
  border-radius: 50%;
  background-color: #FF3839;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content_footer .foot1 .icons a i {
  color: #FFFFFF;
}
footer .content_footer .foot2 {
  display: flex;
  flex-direction: column;
}
footer .content_footer .foot2 h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .content_footer .foot2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18.0282px;
  line-height: 41px;
  color: #FFFFFF;
}
footer .content_footer .foot3 {
  display: flex;
  flex-direction: column;
}
footer .content_footer .foot3 h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .content_footer .foot3 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18.0282px;
  line-height: 41px;
  color: #FFFFFF;
}
footer .content_footer .foot4 {
  display: flex;
  flex-direction: column;
}
footer .content_footer .foot4 h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .content_footer .foot4 a {
  text-decoration: none;
}
footer .content_footer .foot4 a i {
  display: flex;
  align-items: center;
  color: #FF3839;
  width: 20px;
  height: 17px;
  padding: 30px 0;
}
footer .content_footer .foot4 a i span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18.0282px;
  line-height: 41px;
  color: #FFFFFF;
  padding: 0 20px;
}
footer .content_footer .content_footer_end {
  display: flex;
  flex-wrap: wrap;
}
footer .content_footer .content_footer_end img {
  width: 1200px;
  padding: 30px 0;
}
footer .content_footer .content_footer_end p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 17em;
}
footer .content_footer .content_footer_end .links a {
  color: #FFFFFF;
  padding: 0 20px;
}/*# sourceMappingURL=main.css.map */