@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #FF3839;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: capitalize;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #000000;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}

header.nav.container {
  width: 1300px;
  margin: auto;
}

header {
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav .menu ul li {
  display: inline;
  margin-left: 15px;
}
nav .menu ul li a {
  text-decoration: none;
  color: white;
}
nav .mobile {
  color: #FFFFFF;
}
nav .contact_us {
  width: 128px;
  height: 44px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FF3839;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 25px;
  display: block;
}
nav .contact_us a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section1 {
  background-color: rgb(32, 31, 31);
  background-image: url("../img/page1Backround.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
}
.section1 .content1 {
  width: 787px;
  height: 381px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section1 .content1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 p span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FF3839;
}
.section1 .content1 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 hr {
  border: 2px solid #FF3839;
  width: 563px;
}
.section1 .content1 .section1_btn {
  display: flex;
  gap: 20px;
}
.section1 .content1 .section1_btn .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section1 .content1 .section1_btn .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section1 .content1 .section1_btn .view_portfolio {
  background: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section1 .content1 .section1_btn .view_portfolio span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.container {
  width: 1200px;
  height: auto;
}

.section2 {
  display: flex;
}
.section2 .content2 {
  display: flex;
  gap: 40px;
  padding: 30px;
}
.section2 .content2 .text {
  display: grid;
}
.section2 .content2 .text .title {
  display: flex;
  align-items: center;
}
.section2 .content2 .text .title hr {
  border: 2px solid #b4b2b2;
  width: 143px;
  height: 0px;
}
.section2 .content2 .text .title p {
  color: #000000;
  margin-bottom: 0%;
  text-transform: capitalize;
}
.section2 .content2 .text .title p span {
  font-weight: 700;
  font-size: 16px;
}
.section2 .content2 .text p {
  color: #696969;
}
.section2 .content2 .text .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section2 .content2 .text .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section3 {
  background: #202020;
}
.section3 .content3 {
  padding-top: 60px;
  padding-bottom: 10px;
  display: flex;
  gap: 40px;
}
.section3 .content3 .content3_text .text {
  display: grid;
}
.section3 .content3 .content3_text .text .title {
  display: flex;
  align-items: center;
}
.section3 .content3 .content3_text .text .title hr {
  border: 2px solid #ffffff;
  width: 143px;
  height: 0px;
}
.section3 .content3 .content3_text .text .title p {
  color: white;
  margin-bottom: 0%;
  text-transform: capitalize;
}
.section3 .content3 .content3_text .text .title p span {
  font-weight: 700;
  font-size: 16px;
}
.section3 .content3 .content3_text .text h1 {
  color: #ffffff;
  width: 443px;
  height: 120px;
}
.section3 .content3 .content3_text .text .hire_us {
  background: #FF3839;
  border-radius: 5px;
  text-decoration: none;
  display: grid;
  width: 181px;
  height: 48px;
  place-items: center;
  margin-top: 40px;
}
.section3 .content3 .content3_text .text .hire_us span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section3 .content3 .content3_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transform: translate(0, -100px);
}
.section3 .content3 .content3_cards .card {
  display: flex;
  flex-direction: column;
  width: 263px;
  height: 168px;
  top: 143px;
  background: #FFFFFF;
  border-radius: 5px;
}
.section3 .content3 .content3_cards .card .ellipse {
  width: 82px;
  height: 82px;
  transform: translate(90px, -40px);
}
.section3 .content3 .content3_cards .card .img {
  width: 45px;
  height: 45px;
  z-index: 2;
  transform: translate(108px, -103px);
}
.section3 .content3 .content3_cards .card h5 {
  text-align: center;
  transform: translate(0, -75px);
}
.section3 .content3 .content3_cards .card p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  transform: translate(0, -65px);
}/*# sourceMappingURL=main.css.map */