@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125.5%;
    letter-spacing: 0.03em;
    color: #FF3839;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: capitalize;
}

@mixin btn {
    .hire_us {
        background: #FF3839;
        border-radius: 5px;
        text-decoration: none;
        display: grid;
        width: 181px;
        height: 48px;
        place-items: center;


        span {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;

        }
    }

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125.5%;
    letter-spacing: 0.03em;
    color: #000000;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
}

header.nav.container {
    width: 1300px;
    margin: auto;
}

header {
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        ul {

            li {
                display: inline;
                margin-left: 15px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

    }

    .mobile {
        color: #FFFFFF;
    }

    .contact_us {
        width: 128px;
        height: 44px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: #FF3839;
        border-radius: 5px;
        padding-top: 10px;
        padding-left: 25px;
        display: block;

        a {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
        }
    }
}


.section1 {
    background-color: rgb(32, 31, 31);
    background-image: url("../img/page1Backround.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-items: center;

    .content1 {
        width: 787px;
        height: 381px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;

            span {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #FF3839;
            }
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 128.5%;
            letter-spacing: 0.03em;
            color: #FFFFFF;
        }

        hr {
            border: 2px solid #FF3839;
            width: 563px;
        }

        .section1_btn {
            display: flex;
            gap: 20px;

            .hire_us {
                background: #FF3839;
                border-radius: 5px;
                text-decoration: none;
                display: grid;
                width: 181px;
                height: 48px;
                place-items: center;
                margin-top: 40px;

                span {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: capitalize;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;

                }
            }

            .view_portfolio {
                background: #FFFFFF;
                border-radius: 5px;
                text-decoration: none;
                display: grid;
                width: 181px;
                height: 48px;
                place-items: center;
                margin-top: 40px;

                span {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: capitalize;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: black;

                }
            }


        }
    }
}


.container {
    width: 1200px;
    height: auto;
}

.section2 {
    display: flex;

    .content2 {
        display: flex;
        gap: 40px;
        padding: 100px 0;

        .text {
            display: grid;

            .title {
                display: flex;
                align-items: center;

                hr {
                    border: 2px solid #b4b2b2;
                    width: 143px;
                    height: 0px;
                }

                p {
                    color: #000000;
                    margin-bottom: 0%;
                    text-transform: capitalize;

                    span {
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }

            p {

                color: #696969;
            }

            @include btn();


        }



    }

}

.section3 {
    background: #202020;

    .content3 {
        padding: 130px 0;
        display: flex;
        gap: 40px;

        .content3_text {
            .text {
                display: grid;

                .title {
                    display: flex;
                    align-items: center;

                    hr {
                        border: 2px solid #ffffff;
                        width: 143px;
                        height: 0px;
                    }

                    p {
                        color: white;
                        margin-bottom: 0%;
                        text-transform: capitalize;

                        span {
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }

                h1 {
                    color: #ffffff;
                    width: 443px;
                    height: 120px;
                }



                @include btn ();


            }
        }


        .content3_cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            transform: translate(0, -100px);

            .card {
                display: flex;
                flex-direction: column;
                width: 263px;
                height: 168px;
                top: 143px;
                background: #FFFFFF;
                border-radius: 5px;


                .ellipse {
                    width: 82px;
                    height: 82px;
                    transform: translate(90px, -40px);
                }

                .img {
                    width: 45px;
                    height: 45px;
                    z-index: 2;
                    transform: translate(108px, -103px);
                }

                h5 {
                    text-align: center;
                    transform: translate(0, -75px);
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 155%;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #696969;
                    transform: translate(0, -65px);
                }

            }
        }
    }
}

.section4 {

    .content4 {
        display: grid;
        justify-items: center;
        padding: 100px 0;

        .text {
            width: 457px;
            height: 170px;
            display: grid;

            .title {
                display: flex;
                align-items: center;

                hr {
                    border: 2px solid #b9b9b9;
                    width: 163px;
                    height: 0px;
                }

                p {
                    margin-bottom: 0%;
                    color: #696969;
                }
            }

            h1 {
                color: #000000;
                text-align: center;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            ul {

                li {
                    display: inline;
                    margin-left: 15px;

                    :hover {
                        background-color: #FF3839;
                    }

                    a {
                        padding: 15px;
                        background: #F2F2F2;
                        border-radius: 5px;
                        text-decoration: none;

                        :hover {
                            color: #FFFFFF;
                        }

                        span {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            color: #000000;

                        }
                    }
                }
            }
        }

        .img {
            display: flex;
            justify-content: center;

            :nth-child(1),
            :nth-child(3) {
                width: 374px;
                height: 439px;
            }

            :nth-child(2) {
                width: 374px;
                height: 513px;
            }
        }
    }
}

.section5 {
    background-color: #202020;

    .content5 {
        padding: 100px 0;

        .header {
            display: flex;
            justify-content: space-between;

            .text {
                .title {
                    display: flex;
                    align-items: center;

                    hr {
                        width: 143px;
                        height: 0px;
                        border: 2px solid #ffffff;
                    }

                    p {
                        margin-bottom: 0%;
                        color: #ffffff;

                        span {
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }

                h1 {
                    color: #FFFFFF;
                    width: 528px;
                }
            }

            .pages_link {
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                a {
                    padding-left: 0.5em;

                    :active {
                        font-size: xx-large;
                    }
                }

                hr {
                    width: 234px;
                    height: 0px;
                    border: 2px solid #ffffff;
                }

            }
        }

        .content5_cards {
            display: flex;
            justify-content: space-between;

            .card {
                margin-top: 4em;
                display: grid;
                justify-content: center;
                width: 369.86px;
                height: 217.68px;

                .ellipse {
                    transform: translate(135px, -40px);
                }

                .img {
                    transform: translate(173px, -95px);
                }

                h5 {
                    text-align: center;
                    transform: translate(0, -45px);
                }

                .stars {
                    transform: translate(108px, -35px);
                }


                p {
                    text-align: center;
                    font-size: 11px;
                    color: #696969;
                    transform: translate(0, -15px);
                    line-height: 155%;
                }
            }
        }
    }
}

#accordion {
    label+input[type="radio"] {
        display: none;

    }
}

#accordion {
    label+input[type="radio"]:checked+.content {
        max-height: 400px;
    }
}

#accordion {
    input[type="radio"]:checked+label {
        background-color: #FF3839;
    }
}

.section6 {
    .content6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;

        .text {
            display: grid;

            .title {
                display: flex;
                align-items: center;
                justify-content: center;

                hr {
                    border: 2px solid #b9b9b9;
                    width: 163px;
                    height: 0px;
                }

                p {
                    margin-bottom: 0%;
                    color: #696969;
                }
            }

            h1 {
                color: #202020;
                text-align: center;
                width: 453px;
            }

        }

        #accordion {
            margin: 100px auto;
            width: 972px;

            li {
                width: 100%;
                border-radius: 5px;
                list-style: none;
                margin-bottom: 30px;


                .content {
                    padding: 0 10px;
                    width: 887px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s;
                    background-color: #FFFFFF;


                    p {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        color: #696969;
                    }
                }

                label {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    color: #131212;
                    background: #F1F1F1;

                    span {
                        transform: rotate(180deg);
                        color: #202020;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}



.section7 {
    background: #F1F1F1;

    .content7 {
        display: flex;
        justify-content: space-between;

        .text {
            display: flex;
            flex-direction: column;
            width: 550px;
            justify-content: space-between;

            .title {
                display: flex;
                align-items: center;

                hr {
                    width: 143px;
                    height: 0px;
                    border: 2px solid #4b4b4b
                }

                p {
                    margin-bottom: 0%;

                    span {
                        font-size: 16px;
                        line-height: 155%;
                    }
                }
            }

            p {
                font-size: 16px;
                line-height: 155%;
                color: #696969;
            }

            input {
                background: #FFFFFF;
                border: 1px solid #CACACA;
                border-radius: 5px;
                box-sizing: border-box;
                height: 60px;
                width: 533px;
                margin: 10px 0;

                &::placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 155%;
                    text-align: justify;
                    letter-spacing: 0.03em;
                    color: #000000;
                    padding-left: 15px;
                }
            }

            textarea {
                background: #FFFFFF;
                border: 1px solid #CACACA;
                border-radius: 5px;
                margin: 10px 0;

                &::placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 155%;
                    text-align: justify;
                    letter-spacing: 0.03em;
                    color: #000000;
                    padding: 15px 0 0 15px;
                }
            }

            button {
                background: #FF3839;
                border-radius: 5px;
                height: 48px;
                width: 181px;
                border: none;
                margin: 10px 0;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                }
            }



        }

        .img {
            img {
                width: 603px;
                height: 829px;
                padding-left: 20px;
            }
        }
    }
}