@media(max-width:1024px) {
    .mobile {
        display: none;
    }

    header {
        nav {
            ul {
                padding-right: 30px;
            }
        }
    }

    .section2 {
        .content2 {
            flex-direction: column;
        }
    }

    .section3 {
        .content3 {
            flex-direction: column;
        }
    }

    .section4 {
        .content4 {
            .img {

                :nth-child(1),
                :nth-child(3) {
                    width: 304px;
                    height: 369px;
                }

                :nth-child(2) {
                    width: 304px;
                    height: 443px;
                }
            }
        }
    }

    .section7 {
        .content7 {
            .img {
                img {
                    width: 443px;
                    height: 603px;
                    margin-top: 58px;
                }
            }

        }
    }

    footer {
        .content_footer {
            .foot1{
                width: 264px;
            }
            .foot2 {
                h5{
                    font-size: 17.2817px;
                }
                p {
                    font-size: 14.0282px;
                    line-height: 20px;
                }
            }
            .foot3{
                h5{
                    font-size: 17.2817px;
                }
                p {
                    font-size: 14.0282px;
                    line-height: 20px;
                }
            }
            .foot4{
                h5{
                    font-size: 17.2817px;
                }
                a {
                    i{
                        span{
                            font-size: 14.0282px;
                            line-height: 20px;
                        }
                    }
                    
                }
            }
        }
    }
}

@media (max-width:992px) {}

@media(max-width:768px) {
    .menu {
        ul {
            display: none;

        }

        .mobile {
            color: #FFFFFF;
            display: block;
        }

        &.button {
            width: 80px;
            height: 20px;
        }
    }

    .section2 {
        .content2 {
            align-items: center;

            .text {
                justify-items: center;
            }
        }
    }

    .section4 {
        .content4 {
            .img {

                :nth-child(1),
                :nth-child(3) {
                    width: 244px;
                    height: 309px;
                }

                :nth-child(2) {
                    width: 244px;
                    height: 383px;
                }
            }
        }
    }
}

.section5 {
    .content5 {
        .content5_cards {
            flex-direction: column;
            align-items: center;
        }

        .header {
            .pages_link {
                hr {
                    width: 75px
                }
            }

            .text {
                h1 {
                    font-size: 32px;

                    span {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

.section6 {
    .content6 {
        #accordion {
            li {
                .content {
                    width: 600px;
                }
            }

            margin: 100px 0;
            width: 700px;
        }
    }
}

.section7 {
    .content7 {
        .img {
            img {
                width: 441px;
                height: 520px;
            }
        }

        flex-direction: column-reverse;
    }
}


@media(max-width:576px) {}